h1.
	Hi, my name is Jimmy Lauzau!
p.
	I am a software developer with a Computer Science Engineering degree from Ohio State University.  I graduated in 2008, but have been playing with code ever since I was young.  I view code as a brain teaser puzzle and find it very rewarding to figure something out.  Learning new ways of doing things keeps me very excited and interested in programming.
p.
	Besides writing code, one of my biggest passions is cycling.  I love mountain biking, road biking, bike maintenance, and generally anything with wheels.  I also have many other hobbies including photography, anything outdoors, and any do-it-yourself projects.
ul
	li
		a(href='https://github.com/jimmay5469', target='_blank') GitHub
	li
		a(href='https://gist.github.com/jimmay5469', target='_blank') Gists
		|  (
		a(href='https://www.mygists.info/jimmay5469', target='_blank') by tag
		| )
	li
		a(href='http://www.linkedin.com/in/jimmylauzau', target='_blank') LinkedIn
	li
		a(href='https://twitter.com/jimmay5469', target='_blank') Twitter
	li
		a(href='https://delicious.com/jimmay5469', target='_blank') Delicious
	li
		a(href='http://www.rdio.com/people/jimmay5469', target='_blank') Rdio
		|  (
		a(href='http://www.last.fm/user/jimmay5469', target='_blank') Last.fm
		| )
	li
		a(href='#/biking') Biking