doctype 5
html(ng-app='mainApp')
	head
		if (typeof(title) !== 'undefined')
			title= title + ' - Jimmy Lauzau'
		else
			title Jimmy Lauzau
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		script(src='/js/googleAnalytics.js')
		script(src='/js/angular.min.js')
		script(src='http://maps.googleapis.com/maps/api/js?sensor=false&language=en')
		script(src='/js/biking/dataFormatters.js')
		script(src='/js/biking/viewComponents.js')
		script(src='/js/biking/controllers.js')
		script(src='/js/mainApp.js')
		style html, body, .container { height:100% }
	body
		.navbar.navbar-static-top.navbar-inverse(ng-controller='navCtrl', ng-hide='location.path() == "/"')
			.navbar-inner
				a.brand(href='#/') JimmyLauzau.com
				ul.nav
					li(ng-class='{active: location.path() == "/"}')
						a(href='#/') Home
					li(ng-class='{active: location.path() == "/biking"}')
						a(href='#/biking') Biking
		.container(ng-view)
		br