doctype 5
html(ng-app='mainApp')
	head
		if (typeof(title) !== 'undefined')
			title= title + ' - Jimmy Lauzau'
		else
			title Jimmy Lauzau
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		script(src='/js/googleAnalytics.js')
		script(src='/js/angular.min.js')
		script(src='http://maps.googleapis.com/maps/api/js?sensor=false&language=en')
		script(src='/js/biking/dataFormatters.js')
		script(src='/js/biking/viewComponents.js')
		script(src='/js/biking/controllers.js')
		script(src='/js/mainApp.js')
		style html, body, .content, .container { height:100% }
	body
		.content(ng-view)