doctype 5
html(id='ng-app', ng-app='mainApp')
	head
		if (typeof(title) !== 'undefined')
			title= title + ' - Jimmy Lauzau'
		else
			title Jimmy Lauzau
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/main.css')
		script(src='/js/googleAnalytics.js')
		//if lte IE 8
			script(src='/js/json2.js')
		script(src='/js/angular.min.js')
		script(src='http://maps.googleapis.com/maps/api/js?sensor=false&language=en')
		script(src='/js/home/controllers.js')
		script(src='/js/apps/controllers.js')
		script(src='/js/connect/controllers.js')
		script(src='/js/biking/dataFormatters.js')
		script(src='/js/biking/viewComponents.js')
		script(src='/js/biking/controllers.js')
		script(src='/js/mainApp.js')
	body
		.navbar.navbar-static-top.navbar-inverse(ng-controller='navCtrl')
			.navbar-inner
				a.brand(href='#/') Jimmy Lauzau
				ul.nav
					li(ng-class='{active: location.path() == "/"}')
						a(href='#/') Home
					li(ng-class='{active: location.path() == "/apps"}')
						a(href='#/apps') Apps
					li(ng-class='{active: location.path() == "/connect"}')
						a(href='#/connect') Connect
		.container(ng-view)
		br