doctype 5
html
	head
		if (typeof(title) !== 'undefined')
			title= title + ' - Jimmy Lauzau'
		else
			title Jimmy Lauzau
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		script(src='/js/googleAnalytics.js')
	body
		block content