html, body {
	height:100%;
}
.container {
	height:90%;
}
.my-map {
	height: 60%;
	width: 100%;
}
.my-map img {
	max-width: none;
}

#navbar-placeholder {
	background:#222;
	height:5px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}