h1 My Apps
ul.dashboard
	li
		a(href='#/biking') My Bike Rides
	li
		a(href='http://startingstrengthcalculator.aws.af.cm/', target='_blank') Starting Strength Calculator
	li
		a(href='http://timetracker.aws.af.cm/', target='_blank') Time Tracker